<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Maze Game</title>
    </head>
    <body oncontextmenu="return false;"> <!-- disables right click within the body -->

        <div id="app" v-cloak>
            <div id="page" v-on:click.ctrl.left="createWallClick" v-on:mousemove="updateNewWall">
                <div id="title" v-bind:style="title">{{ titleText }}</div>
                <div id="rules-box">
                    <div v-on:mouseenter="hovering = true;" @mouseleave="hovering = false;">Rules</div>
                    <div v-show="hovering">
                        Use 'wasd' or arrow keys to move<br>
                        Use the shift key to move at a smaller pace<br>
                        Use ctrl+left click to place down walls
                    </div>    
                </div>
                <div
                    id="player" 
                    v-bind:style="player"
                ></div>
                <div 
                    v-for="wall in walls"
                    class="wall" 
                    v-bind:style="wall"
                ></div>
                <div v-if="!firstClick" :style="newWall"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>