[v-cloak] {
	display: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
}

body #app h1 {
    display: block;
    background-color: #008844;
    padding: 3rem;
    text-align: center;
}

body #app .die-container {
    margin: 1rem 3rem;
    height: 100px;
    width: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} body #app .die-container .die {
    grid-area: 1 / 1 / -1 / -1;

    height: 75px;
    width: 75px;
    margin: auto;
    border-radius: 3px;
    background-color: #661633;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
} body #app .die-container .side-count {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
} body #app .die-container .delete-button {
    grid-area: 1 / -1 / 2 / -2;
    text-align: center;
}