<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap" rel="stylesheet">
        <title>Magic Eight Ball</title>
    </head>
    <body>
        <div id="app" v-cloak>

            <div id="eight-ball">
                <div id="response-area">
                    <div id="response" :style="responseStyle">
                        {{ displayResponse }}
                    </div>
                </div>
            </div>
            
            <div id="question-area">
                Question: <input v-model="questionInput" @keydown.enter="askQuestion">
                <br><button v-if="validQuestion" @click="askQuestion">Ask Question</button>
                <div v-else-if="questionInput.length <= 0">Waiting for a question...</div>
                <div v-else>Questions usually end with a '?'</div>
            </div>
        
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>